/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

/*
	BARVY
	czechitas  #b92e81
	pozadi     #bdc3c7
	tmava      #31363b
	delitka    #3f464d
	portfolio  #e74c3c
	facebook   #3b5998
	twitter    #1da1f2
*/


body {
	background-color: #bdc3c7;
	margin: 0;
}

.profil {
	width: 250px;
	background-color: #31363b;
	margin: 20px 0 0 20px;
}

.foto {
	width: 250px;
}

.logo {
	background-color: #b92e81;
	border-radius: 50%;
	position: absolute;
	top: 160px;
	left:185px;

}

li {
	display: block;
}

.obsah {
	color:white;
	padding: 0 20px 0 20px;
	font-family: 'Source sans 3';
}

.jmeno {
	font-family: 'montserrat';
}